<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
</head>
<body>
<h1>로그인 페이지</h1>
<form th:action="@{/login}" method="post">
    <div>
        <label>사용자 이름:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>비밀번호:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <button type="submit">로그인</button>
    </div>
    <div th:if="${param.error}">
        <p style="color:red;">로그인 오류: 사용자 이름 또는 비밀번호를 확인하세요.</p>
    </div>
    <div th:if="${param.logout}">
        <p>로그아웃되었습니다.</p>
    </div>
    <div th:if="${param.error} == 'ip_mismatch'">
        <p style="color:red;">IP 주소가 변경되어 세션이 종료되었습니다.</p>
    </div>
</form>
</body>
</html>
